* {
  --color-font: #222;
  --color-light-gray: #CECECE;
  --color-gray: #D9D9D9;
  --color-blue: #BFDEF0;
  --color-pink: #E9CED3;
  --color-purple: #D2CEE9;
}

#contents {  
  background-color: #fff;
}