form {
    padding: 10px;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items:  center;
    height: 100vh;
}

.login-container h1 {
    font-size: 40px;
    padding: 10px;
}

.login-form {
    background-color: #f4f4f4;
    border: none;
    padding: 50px;
}


.input-box{
    border-style: outset;
    border: none;
    position: relative;
    margin: 10px 0;
}

.input-box > input{
    padding:20px 0px 10px 20px;
    font-size:15pt;
    width:100%;
    border-radius: 5px;
    border: none !important;
}


input::placeholder{
    padding-left: 10px;
}

input:focus{
    outline: none;

}

input[type=button]{
    color: #666;
    border-radius: 10px;
    width:100%;
    height:35px;
    font-size: 15pt;
    font-weight:10px;
    margin-top:30px;
    border: none !important;
    background-color: white;
}

input[type=button]:active {
    color: white;
    background-color: #C5C6E6 !important;
}

input[type=button]:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

#forgot-area{
    text-align: center;
}

#forgot a{
    text-align: right;
    font-size:10pt;
    color:rgb(164, 164, 164);
    margin:10px 0px;
    position: relative;
}

#forgot span{
    width: 1px;
    height: 8px;
    background-color: #000;
}

@media screen and (max-width: 768px) {
    .login-form {
    width: 80%;
    }
    #forgot-area{
        text-align: center;
    }
}