* {
  --color-font: #222;
  --color-light-gray: #CECECE;
  --color-gray: #D9D9D9;
  --color-blue: #BFDEF0;
  --color-pink: #E9CED3;
  --color-purple: #D2CEE9;
}

body {
  background-color: #D2CEE9;
  color: var(--color-font);
  font-family: "Anek Telugu", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: #202020;
  font-weight: 800;
  cursor: pointer;
}

a,
input:focus,
button:focus,
textarea:focus,
select:focus {
  color: none !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.nav-container {
  background-color: #fff;
}

button,
input {
  outline: none !important;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  background: transparent !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 14px !important;
}

/* a-버튼 */
.a-button {
  width: 80px;
  height: 30px;
  line-height: 2.5em;
  text-align: center;
  border-radius: 24px;
  box-sizing: border-box;
}

/* 보더-그레이-버튼 */
.btn-white-border-gray {
  background-color: #fff;
  box-sizing: border-box;
  border: 3px solid var(--color-gray);
}

.btn-white-border-gray:hover {
  box-sizing: border-box;
  
  border: 3px solid #fff;
  background-color: var(--color-gray);
}

/* 보더-블루-버튼 */
.btn-white-border-blue {
  background-color: #fff;
  box-sizing: border-box;
  border: 3px solid var(--color-blue);
}

.btn-white-border-blue:hover {
  box-sizing: border-box;
  
  border: 3px solid #fff;
  background-color: var(--color-blue);
}

/* 보더-핑크-버튼 */
.btn-white-border-pink {
  background-color: #fff;
  box-sizing: border-box;
  border: 3px solid var(--color-pink);
}

.btn-white-border-pink:hover {
  box-sizing: border-box;
  
  border: 3px solid #fff;
  background-color: var(--color-pink);
}

/* 보더-퍼플-버튼 */
.btn-white-border-purple {
  background-color: #fff;
  box-sizing: border-box;
  border: 3px solid var(--color-purple);
}

.btn-white-border-purple:hover {
  box-sizing: border-box;
  
  border: 3px solid #fff;
  background-color: var(--color-purple);
}

/* 그레이-버튼 */
.btn-gray {
  background-color: var(--color-gray);
  box-sizing: border-box;
}

.btn-gray:hover {
  box-sizing: border-box;
  border: 3px solid var(--color-gray);
  background-color: #fff;
}

/* 보더-블루-버튼 */
.btn-blue {
  background-color: var(--color-blue);
  box-sizing: border-box;
}

.btn-blue:hover {
  box-sizing: border-box;
  border: 3px solid var(--color-blue);
  background-color: #fff;
}

/* 핑크-버튼 */
.btn-pink {
  background-color: var(--color-pink);
  box-sizing: border-box;
}

.btn-pink:hover {
  box-sizing: border-box;
  border: 3px solid var(--color-pink);
  background-color: #fff;
}

/* 퍼플-버튼 */
.btn-purple {
  background-color: var(--color-purple);
  box-sizing: border-box;
}

.btn-purple:hover {
  box-sizing: border-box;
  border: 3px solid var(--color-purple);
  background-color: #fff;
}

/* HEADER 기본값 */

header {
  background-color: #fff;
}


.lnb-container,
.lnb-container.container {
  background-color: #BFDEF0;
}

#search-input {
  border-bottom: 1px solid #222 !important;
  /* border-radius: 0; */
  transition: .2s ease-in !important;
}

#search-input:focus {
  background-color: rgba(255, 255, 255, .2) !important;
  /* border-radius: 24px; */
}

#search-btn {
  width: 30px;
  height: 30px;
  
}

#search-btn:hover,
#search-btn:active {
  opacity: .2 !important;
}

#search-btn i {
  line-height: 2em;
}

.navbar {
  display: flex;
  justify-content: space-between !important;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, .05);
}

.dropdown-menu{
  border: none;
  border-radius: 0;
  left: -30% !important;
}
/* 
.dropdown-menu.show {
  width: 50% !important;
} */

.nav-link{
  font-size: 1.2em;
  font-weight: 800;
}

/* MAIN */

main {
  background-color: #D2CEE9;
}

/* FOOTER 기본 값*/
footer.container{
  background: none;
}
.temp-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #BFDEF0;
  border-radius: 2em;
  padding: 4em 0 ;
  margin-top: 1.3em;
  /* border: 3px solid #737373; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.114);
  margin-bottom: 5em;
}

#weather {
  display: none;
  align-items: center;
  justify-content: center;
}

.weather-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-temp img {
  padding-bottom: 1em;
}

.weather-temp p {
  font-size: 4rem;
  color: #2a2a2a;
}


#city-select {
  width: 200px;
  margin: 0 15px;
  height: 40px;
  color: --color-font;
  font-weight: 700;
  
}
.select-temp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: --color-font;

  p {
      font-size: 2em;
      font-weight: 700;
  }
}
#weather-icon {
  width: 80px;
}
#raining {
  font-size: 1.3em;
  color: #ff73a7;
  font-weight: 600;
  margin-top: 1em;
  background-color: #ffffffa8;
  padding: 0.5em 3em;
  border-radius: 1em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.114);

}
.container.clothes-recomend {
  display: flex;
  width: 700px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 2em;
  font-size: 1.1em;
  color: #fff;
  background-color: #ff7ba7;
  font-weight: 600;
  padding: 1em 3em 0.5em 3em;
  border-radius: 3em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.114);
}
.recomend-btn {
  color: #fff;
  font-size: 1.7em;
}
.recomend-btn:hover {
  color: #fff;
}
.clothes-recomend:hover {
  color: #fff;
  background-color: #cb67cf;

}

.container.clothes {
  margin-top: 2em;
  height: 100vh auto;
  display: none;
  background-color: #fff;
  padding : 2em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.114);
  transition: opacity .35s, visibility .35s;
}
.container.clothes p{
  text-align: center;
  font-weight: 700;
  font-size: 1.6em;
}

.cold-message {
  color: rgb(46, 81, 223); 
}

.hot-message {
  color: rgb(214, 46, 46);
}
.clothes-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-weight: 700;
    font-size: 1.6em;
    margin: 1em 0;
  }
}
#condition-icon {
  width: 150px;
}

.recomend-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-weight: 700;
    font-size: 1.6em;
    margin: 3em 0 1em 0;

  }
} 

#recomend-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 2em;
  
  img {
    width: 100px;
  }

}

@media screen and (max-width: 992px) {

  .container.clothes {
    font-size: 0.8em;
    max-width: 65vw;
  }
  .clothes-recomend {
    font-size: 1em;
    margin-bottom: 2em;
  }
  .container.clothes-recomend {
    font-size: 1em;
    max-width: 65vw;
    
  }

}

@media screen and (max-width: 768px) {
  .containertoday-look{
    width: 100vw;
  }
  .container.clothes {
    width: 70vw;
    display: inline-block;
    font-size: 0.8em;
  }
  .container.clothes-recomend {
    font-size: 1em;
    width: 70vw;
  }
  .clothes-recomend {
    font-size: 1em;
    margin-bottom: 2em;
  }
  .recomend-btn {
    display: inline-block;
    font-size: 1.7em;
  }
  .select-temp p {
    font-size: 1.4em;
    font-weight: 700;
  }
  #weather-icon {
    width: 80px;
  }
  #raining {
    font-size: 1.1em;
    color: #e36e8d;
    font-weight: 600;
    margin-top: 1em;
  }
  #city-select {
    width: 140px;
  }
  #condition-icon {
    width: 90px;
  }

  #recomend-list img{
    width: 65px;
  }


}

@media screen and (max-width: 575px) {

  .container.clothes {
    width: 100vw;
    font-size: 0.8em;
    padding: 0;
  }
  .container.clothes-recomend {
    font-size: 1em;
    width: 100vw;
    
  }
  .clothes-recomend {
    font-size: 1em;
    margin-bottom: 2em;
  }
  .recomend-btn {
    font-size: 1.7em;
  }
  .select-temp p {
    font-size: 1.4em;
    font-weight: 700;
  }
  #weather-icon {
    width: 80px;
  }
  #raining {
    font-size: 1.1em;
    color: #e36e8d;
    font-weight: 600;
    margin-top: 1em;
  }
  #city-select {
    width: 140px;
  }
  #condition-icon {
    width: 90px;
  }

  #recomend-list img{
    width: 65px;
  }


}

