* {
    --color-font: #222;
    --color-light-gray: #CECECE;
    --color-gray: #D9D9D9;
    --color-blue: #BFDEF0;
    --color-pink: #E9CED3;
    --color-purple: #D2CEE9;
  }

.expo-main-gap {
    padding-bottom: 30px;
}

.section-height {
    padding-top: 45px;
}

.section-first {
    padding-top: 30px;
}

/* top */
.behave-top {
    margin-top: 70px;
    text-align: center;
    font-family: "Anek Telugu", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Arial, Helvetica, sans-serif;
}

.behave-top-title h1 {
    font-size: 2.5em !important;
    font-weight: bold;
}

.behave-top-title {
    margin-bottom: 10px;
}

.btn-behave-menu {
    border-radius: 34px;
    background-color: white;
    border: 3px solid var(--color-pink) ;
    text-align: center;
    font-size: 19px;
    margin: 0px 10px;
    width: 6em;
    line-height: normal;
    font-weight: 500;
    padding-top: 5px;
}

.btn-activity-check {
    background-color: var(--color-pink);
}

.btn-behave-menu:hover {
    background-color: var(--color-pink);
}

.btn-behave-menu:focus {
    background-color: var(--color-pink);
}

/* 메인-공통 */
.expo-main-text {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px 15px 5px;
}

.expo-main-text1 {
    font-size: 25px;
    font-weight: 800;
}

.expo-main-text2 a {
    font-size: 20px;
    color: var(--color-font);
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}

.expo-main-text2 a:hover {
    font-size: 20px;
    font-weight: 900;
}

/* 메인-카드슬라이드 */
#behave-weather-card {
    display: flex;
    height: 13em;
    justify-content: space-between;
}

/* 메인-카드정보 */ 
.expo-card {
    display: flex;
    justify-content: space-between;
    height: 330px !important;
}

/* a:hover > .card {
    box-shadow: 0 2px 8px #38556450 !important;
} */

.card-img-top {
    height: 16em !important;
    border-radius: 10px;
}

.info-title-font {
    font-size: 1.1em;
    font-weight: bold;
}

.img-size {
    object-fit: cover;
    height: 25em;
    min-height: 500px;
}

/* 주간인기콘텐츠 */
.mvpCard {
    border: none !important;
}

.mvpCard-title {
    font-size: 20px;
    font-weight: 800;
    margin-top: 7px;
}

.mvpCard-img {
    height: 280px !important;
    object-fit: cover !important;
}

.mvp-motion {
    height: 280px;
    transition: all ease .4s;
    overflow: hidden;
}

.mvpCard:hover .mvpCard-img {
    transform: scale(1.1) rotate(3deg);
    border-radius: 10px;
}

.card-selection {
    background-color: var(--bs-danger-bg-subtle);
    padding: 0px 15px 15px 15px;
    border-radius: 10px;
}

.cardAll{
    margin-top : 10px;
}